@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gradient-cover {
	background-color: transparent;
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.107) 0%,rgba(0, 0, 0, 0.974));
    background-image: linear-gradient(rgba(0,0,0,0) 0%,rgba(0, 0, 0, 0.11) 8%,rgba(0, 0, 0, 0.974));
    background-position-y: 0px;
}

.max-h-98 {
    max-height: 50.3rem;
}



/*Custom Styles Here*/
